local.properties
build/
.idea/
.fleet/
.gradle/
*.gen.kt
.vscode
/.kotlin
*.log

/.jextract
/library/src/jvmMain/java

/library/src/nativeInterop/*
!/library/src/nativeInterop/buildscripts/
/library/src/nativeInterop/buildscripts/build
